{% extends 'futureJob/future_job_based.html' %}


{% block futureJob_DetailStyle %} {% comment %} 해당 페이지에서 사용할 CSS 추가 {% endcomment %}
.globalFuture {
  width:60vw;
  height: 70vh; 
  margin:auto;
  background-image: url('/static/images/world_map.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
{% endblock %}


{% block futureJob_main %} {% comment %} 해당 페이지에서 보여주고 싶은 main 내용 추가 {% endcomment %}
    <div class="globalFuture">
        <div class="wef">
            <h5>스위스: WEF 국제기구</h5>
            <p>현재 초등학생 입학하는 어린이의 ~65%가 아직 존재하지 않는 직업을 가질 가능성이 큽니다.</p>
            <small>자료: World Economic Forum (2023)</small>
        </div>
        <div class="australia">
            <h5>호주</h5>
            <p>- 자동화: 더 똑똑해진 기계들이 사람이 하는 일들을 더 많이 할 수 있게 될 것입니다.<br>
                - 글로벌화: 전세계 어디에서 일을 할 수 있고, 전세계 더 많은 사람들이 우리나라에 와서 일을 할 수 있게 될 것입니다.<br>
                - 협업: 동시에 여러 직업들을 가지거나, 여러 회사를 위해 일을 할 수 있을 것입니다.
            </p>
            <small>자료: The New Work Order, Foundation for Young Australians (2017)</small>
        </div>
        <div class="us">
            <h5>미국</h5>
            <p>많은 사람들이 다른 직업으로 자신의 직업을 바꾸었고, 이러한 직업이동이 더 많이 일어날 것으로 보입니다.<br>
                또한 많은 직업들이 새로 생겨날 것으로 보입니다. 특히,<br>
                - 고령화 인구로 인해 의료 서비스가 많이 필요해질 것입니다.<br>
                - 많은 일들이 디지털화되며 테크놀로지에 접목되어져 갑니다.<br>
                - 고객을 위한 더 좋은 배송서비스가 더 많이 필요해지고 있습니다.
            </p>
            <small>자료: McKinsey Global Institute (2023)</small>
        </div>
    </div>
{% endblock %}